@model Entities.ToDo

@{
    ViewData["Title"] = "Editar";
}

<div class="card">
    <div class="card-header">Cadastrar Tarefa</div>
    <div class="card-body">
        @using (Html.BeginForm("Editar", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <label>Nome da Tarefa</label>
                @Html.TextBoxFor(d => d.Tarefa, new { @class = "form-control" })
            </div>

            <input type="submit" class="btn btn-success btn-sm" />
        }
    </div>
</div>