@model IEnumerable<Entities.ToDo>

<div class="card">
    <div class="card-header">Tarefas a fazer</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tarefa</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Tarefa</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Cadastrar Tarefa", "Cadastrar", "Home", null, new { @class = "btn btn-success btn-sm" })
    </div>
</div>

