@model Entities.ToDo

<div class="card">
    <div class="card-header">Remover Tarefa</div>
    <div class="card-body">
        Você deseja remover a tarefa @Model.Tarefa?<br />

        @Html.ActionLink("Sim", "ConfirmaRemover", "Home", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm" })
        @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-light btn-sm" })

        
    </div>
</div>